#center
{
    display: inline-block;
    padding-top: 20px;
    font-size: 18pt;
    color: white;
    width: 60%;
}
#hobby
{
    display: inline-block;
    
}

#quot
{
    font-style: italic;
    font-family: Lucida Grande;
    font-size: 20pt;
}
#inner_left
{
    float: left;
}
#inner_right
{
    float: right;   
}


#left {
    padding-top: 55px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
    float: left;
    width: 20%;
}

#right {
    padding-top: 12px;
    font-size: 14pt;
    float: right;
    width: 20%;
}

a{
    color: white;
    text-decoration: none;

}

#common
{
    color: crimson;
}
